* {
    box-sizing: border-box
}

/* Add padding to containers */
.container {
    height: 700px;
    padding: 10px 60px 60px;
}

h3 {
    display: block;
    font-size: 30px;
    color: #e58a5a;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.info {
    color: #757575;
   /* line-height: 2;*/
    margin-top: 0;
    font-size: 19px;
    text-align: center;
}

b {
    display: block;
    font-size: 15px;
    color: #e58a5a;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 1px;
    padding-bottom: 2px;


}

.container-login {
    background-image: url("/images/registrationBackgr.png");
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 30px 0 rgb(250 66 81 / 10%);
}

.body {
    width: 450px;
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto 0px;
    background: -webkit-linear-gradient(left, rgb(247 194 152), rgb(219 125 255 / 50%));

}

/* Full-width input fields */
input[type=text], input[type=password] {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ededed;
    -webkit-box-shadow: 0 5px 30px 0 rgb(250 66 81 / 10%);

}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;

}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.signinsbm {
    background-color: #ffb27d;
    color: #5a5353;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: block;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 30px 0 rgb(250 66 81 / 10%);
}
submit {
    background-color: #ffb27d;
    color: #5a5353;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: block;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 30px 0 rgb(250 66 81 / 10%);
}
.signinsbm:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: #f788ee;
}

/* Set a grey background color and center the text of the "sign in" section */
.forgetPass {
    text-align: right;
    padding-top: 70px;
    padding-right: 60px;
}
#forget_password {
    color: #974f91;
}
.msg {
    border: 2px solid orangered;
    padding: 2px;
    color: #db0a0a;
    line-height: 2;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    margin-top: 0;
}