*, *:before, *:after {
    box-sizing: border-box;
}

body {
    width:1300px;
    background-color: #ffebdf;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    margin-right: 20%;
    margin-left: 20%;

}
.top {
    width: 64%;
    margin-top: 2%;
    background-color: #ffb77e;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    color: steelblue;
    font-size: larger;
}
.main {
    margin-top: 5%;
}
.link-home {
    float: right; flex: 1;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    line-height: 2.1;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #4f94d1;
    padding: 10px;
}
.link-home:hover  {
    background-color: #2d73af;
}
input[type=text] {
    resize: vertical;
    padding: 20px;
    border-radius: 5px;
    border: 0;
    box-shadow: 4px 4px 10px rgb(246, 216, 205);
    height: 30px;

}


textarea {
    resize: vertical;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(246, 216, 205);
    height: 400px;
}

div {
    resize: vertical;
}

.header {
    resize: vertical;
    padding: 15px;
    border-bottom-color: #4f94d1;
    border-top-color: coral;
    border-style: solid none solid none;
}

select {
    width: 20%;
    padding: 10px;
    border-radius: 5px;

    background-color: #ffffff;
    border: 0;
    box-shadow: 4px 4px 10px rgba(246, 216, 205);
}

input[type=date] {
    width: 20%;
    padding: 10px;
    border-radius: 5px;

    border: 0;
    box-shadow: 4px 4px 10px rgba(246, 216, 205);
}

input[type=file], input[type=text], textarea, div {
    width: 80%;
}

input[type=file] {
    width: 25%;
    padding: 10px;
    border-radius: 5px;

    border: 0;
    box-shadow: 4px 4px 10px rgba(246, 216, 205);
    background-color: #ffffff;
}



.sbm {
    background-color: #ffb27d;
    color: #0d61ab;
    padding: 14px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 260px;
    opacity: 0.9;
    display: block;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: normal;
    border:1px solid #ffebde;
    -webkit-box-shadow: 0 5px 30px 0 rgb(250 66 81 / 10%);
    cursor: pointer; /* Иконка указателя/руки */
    float: left; /* Выстраиваем кнопки рядом друг с другом */
}

.sbm:hover {
    background-color: #ec843f;
}
div.excerpt-thumb a img {
    width: 25%;
}
img.size-full, img.size-large, img.header-image, img.wp-post-image {
    max-width: 100%;
    height: auto;
}
img[AttributesStyle] {
    width: 213px;
    aspect-ratio: auto 213 / 160;
    height: 160px;
}
.alignleft {
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.excerpt-thumb {
    width: 120%;
}
/*post header and post text*/
.entry-summary {
    text-align: justify;
    line-height: 1.714285714;
    padding-left: 20px;
    padding-bottom: 20px;

}
.post-article {
    width: 80%;
}